.container { width: 350px}

#controls i {
    font-size: 30px;
    margin-right: 20px ;
}

#progress-bar {
    width: 100%;
}

#progress .times {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#progress {
    margin-bottom: 20px;
}

#music-image {
    width: 100%;
}